/* components css */
@import "../components/index__loading.css";
@import "../components/index__btn.css";
@import "../components/index__left-btn.css";
@import "../components/index__right-btn.css";
@import "../components/index__bg-fog.css";

.root,
.root-width,
.root-height,
.root-portrait,
.root-loading,
.root-fog {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  z-index: 20;
}
.root {
  z-index: 30;
}
.root-fog {
  z-index: 10;
}

.root-width,
.root-height,
.root-portrait {
  display: none;
}
.root-width span,
.root-height span,
.root-portrait span {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px 20px;
  border-radius: 10px;
}

.content-left {
  width: 30%;
  height: 100%;
}
.content-center {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.content-right {
  width: 30%;
  height: 100%;
}

@media screen and (max-height: 600px) {
  .root {
    display: none;
  }
  .root-width {
    display: none;
  }
  .root-portrait {
    display: none;
  }
  .root-height {
    display: flex;
  }
}
@media screen and (max-width: 1000px) {
  .root {
    display: none;
  }
  .root-height {
    display: none;
  }
  .root-portrait {
    display: none;
  }
  .root-width {
    display: flex;
  }
}
@media screen and (orientation: portrait) {
  .root {
    display: none;
  }
  .root-width {
    display: none;
  }
  .root-height {
    display: none;
  }
  .root-portrait {
    display: flex;
  }
}

.content-left > img,
.content-right > img {
  position: fixed;
  bottom: 20px;
}
.content-left > img {
  left: 0;
}
.content-right > img {
  right: 0;
}

.center-title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 300px;
  height: 150px;
  margin-bottom: 50px;
}
.center-title:hover span:nth-child(6) {
  background-color: #fe959977;
  border-radius: 20px;
}

.center-title img,
.center-title svg,
.center-title span {
  position: absolute;
  bottom: 0;
}
.center-title svg {
  height: 50px;
}
.center-title img:nth-child(3) {
  left: -37px;
  max-width: 50%;
}
.center-title img:nth-child(4) {
  right: -37px;
  max-width: 50%;
}
.center-title img:nth-child(2) {
  max-width: 30%;
  right: 110px;
  bottom: 30px;
}
.center-title svg:nth-child(5) {
  height: 15px;
  right: -34.8px;
}
.center-title span:nth-child(6) {
  bottom: 55px;
  font-size: 30px;
  font-weight: 900;
  color: #eee;
  padding: 10px 30px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000;
  font-family: "Heir of Light B";
  transition: all 0.5s ease-in-out;
}
.center-title span:nth-child(7) {
  bottom: 25px;
  font-size: 15px;
  font-weight: 900;
  color: #fe9599;
  text-shadow: -1px 0 #333, 0 1px #333, 1px 0 #333, 0 -1px #333;
  font-family: "Heir of Light R";
}
.center-title span:last-child {
  font-size: 11px;
  color: #aaa;
  bottom: 2px;
}
