.root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  background-image: url(../../images/od-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.root__top-bar {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 60px;
  background-color: rgba(30, 30, 30, 0.8);
  display: flex;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
  z-index: 20;
}
.root__top-bar a {
  width: 100px;
  height: 30px;
  background-color: #444;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: "Heir of Light B";
  color: white;
  font-size: 15px;
  font-weight: 900;
  padding: 0 10px;
  box-sizing: border-box;
  transition: filter 0.2s ease-out;
}
.root__top-bar a:hover {
  filter: brightness(80%);
}
.root__top-bar span {
  font-weight: 700;
  font-size: 20px;
  color: white;
  margin-left: 30px;
}

@keyframes bottom-bar-inout {
  0% {
    bottom: -40px;
  }
  10% {
    bottom: 0;
  }
  90% {
    bottom: 0;
  }
  100% {
    bottom: -40px;
  }
}
.root__bottom-bar {
  position: fixed;
  bottom: -40px;
  width: 100vw;
  height: 40px;
  background-color: #444;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  animation: bottom-bar-inout 5s ease-in-out forwards;
  animation-delay: 2s;
  z-index: 20;
}
.root__bottom-bar > div {
  width: 100vw;
  height: 40px;
  position: relative;
}
@keyframes bottom-bar-duration {
  from {
    width: 0;
  }
  to {
    width: 100vw;
  }
}
.root__bottom-bar > div > div {
  position: absolute;
  left: 0;
  width: 0;
  height: 40px;
  background-color: #555;
  z-index: 1;
  animation: bottom-bar-duration 4s linear forwards;
  animation-delay: 2.5s;
}
.root__bottom-bar span {
  position: absolute;
  left: 0;
  top: 13px;
  font-weight: 600;
  font-size: 15px;
  color: white;
  margin-left: 30px;
  z-index: 2;
}

.image-slide {
  width: 150rem;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.image-slide > div {
  width: 5rem;
  height: 30rem;
  position: relative;
  overflow: hidden;
  transition: filter 0.5s var(--ease-in-out), width 0.5s var(--ease-in-out),
    margin-right 0.5s ease-in-out;
  filter: brightness(50%) contrast(70%);
}

.image-slide__content {
  background-color: rgba(0, 0, 0, 0.7);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  width: 64.3rem;
  height: 7rem;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, bottom 0.2s ease-in-out;
}
.image-slide__content span,
.image-slide__content p {
  font-size: 2rem;
  color: white;
  margin-left: 2rem;
  margin-bottom: 0.7rem;
}
.image-slide__content span {
  font-family: "Heir of Light B";
}
.image-slide__content p {
  font-size: 1rem;
}
.image-slide > div:hover .image-slide__content {
  bottom: -7rem;
}

.image-slide > div img {
  width: 64.3rem;
  height: 30rem;
  position: absolute;
  left: 0;
  object-fit: cover;
  object-position: left;
  overflow: hidden;
  transition: left 0.5s var(--ease-in-out);
}
.image-slide > div:focus {
  width: 64.3rem;
  filter: brightness(100%);
  outline: 0;
}
.image-slide > div:focus .image-slide__content {
  opacity: 1;
}
.image-slide > div:focus img {
  left: 0rem;
}

.image-slide > div[id="1"]:focus ~ div[id="2"] img {
  left: -59.3rem;
}
.image-slide > div[id="1"]:focus ~ div[id="3"] img {
  left: -59.3rem;
}
.image-slide > div[id="1"]:focus ~ div[id="4"] img {
  left: -59.3rem;
}
.image-slide > div[id="1"]:focus ~ div[id="5"] img {
  left: -59.3rem;
}
.image-slide > div[id="1"]:focus ~ div[id="6"] img {
  left: -59.3rem;
}
.image-slide > div[id="1"]:focus ~ div[id="6"] {
  margin-right: -25rem;
}

.image-slide > div[id="2"]:focus ~ div[id="3"] img {
  left: -59.3rem;
}
.image-slide > div[id="2"]:focus ~ div[id="4"] img {
  left: -59.3rem;
}
.image-slide > div[id="2"]:focus ~ div[id="5"] img {
  left: -59.3rem;
}
.image-slide > div[id="2"]:focus ~ div[id="6"] img {
  left: -59.3rem;
}
.image-slide > div[id="2"]:focus ~ div[id="6"] {
  margin-right: -15rem;
}

.image-slide > div[id="3"]:focus ~ div[id="4"] img {
  left: -59.3rem;
}
.image-slide > div[id="3"]:focus ~ div[id="5"] img {
  left: -59.3rem;
}
.image-slide > div[id="3"]:focus ~ div[id="6"] img {
  left: -59.3rem;
}
.image-slide > div[id="3"]:focus ~ div[id="6"] {
  margin-right: -5rem;
}

.image-slide > div[id="4"]:focus ~ div[id="5"] img {
  left: -59.3rem;
}
.image-slide > div[id="4"]:focus ~ div[id="6"] img {
  left: -59.3rem;
}
.image-slide > div[id="4"]:focus ~ div[id="6"] {
  margin-right: 5rem;
}

.image-slide > div[id="5"]:focus ~ div[id="6"] img {
  left: -59.3rem;
}
.image-slide > div[id="5"]:focus ~ div[id="6"] {
  margin-right: 15rem;
}

.image-slide > div[id="6"]:focus {
  margin-right: 25rem;
}
