/* Loading Animation */
@keyframes loading-top {
  from {
    top: 0;
    margin-top: 0;
  }
  to {
    top: -50vh;
    margin-top: 20px;
  }
}
@keyframes loading-bottom {
  from {
    bottom: 0;
    margin-bottom: 0;
  }
  to {
    bottom: -50vh;
    margin-bottom: 20px;
  }
}
.index-loading__load-top {
  top: 0;
  margin-top: 0;
  animation: loading-top 0.2s ease-in-out forwards;
  animation-delay: 0.3s;
}
.index-loading__load-bottom {
  bottom: 0;
  margin-bottom: 0;
  animation: loading-bottom 0.2s ease-in-out forwards;
  animation-delay: 0.3s;
}

@keyframes loading__left-item {
  from {
    left: -23rem;
  }
  to {
    left: 0;
  }
}
.index-loading__left-item li a {
  left: -25rem;
  animation: loading__left-item 0.2s ease-in-out forwards;
}
.index-loading__left-item li:nth-child(4) a {
  animation-delay: 0.4s;
}
.index-loading__left-item li:nth-child(3) a {
  animation-delay: 0.5s;
}
.index-loading__left-item li:nth-child(2) a {
  animation-delay: 0.6s;
}
.index-loading__left-item li:nth-child(1) a {
  animation-delay: 0.7s;
}
.index-loading__left-item > img {
  left: -25rem;
  animation: loading__left-item 0.2s ease-in-out forwards;
  animation-delay: 0.6s;
}

@keyframes loading__right-item {
  from {
    right: -23rem;
  }
  to {
    right: 0;
  }
}
.index-loading__right-item li a,
.index-loading__right-item li > div {
  right: -25rem;
  animation: loading__right-item 0.2s ease-in-out forwards;
}
.index-loading__right-item li:nth-child(4) a {
  animation-delay: 0.4s;
}
.index-loading__right-item li:nth-child(3) a {
  animation-delay: 0.5s;
}
.index-loading__right-item li:nth-child(2) a {
  animation-delay: 0.6s;
}
.index-loading__right-item li:nth-child(1) > div {
  animation-delay: 0.7s;
}
.index-loading__right-item > div {
  right: -25rem;
  animation: loading__right-item 0.2s ease-in-out forwards;
  animation-delay: 0.8s;
}
.index-loading__right-item > img {
  right: -25rem;
  animation: loading__right-item 0.2s ease-in-out forwards;
  animation-delay: 0.6s;
}

@keyframes loading__center-title {
  0% {
    opacity: 0;
    margin-bottom: 50vh;
  }
  30% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    margin-bottom: 50px;
  }
}
.index-loading__center-title > div {
  opacity: 0;
  margin-bottom: 50vh;
  animation: loading__center-title 0.2s ease-in-out forwards;
  animation-delay: 0.3s;
}

@keyframes loading__bg {
  from {
    opacity: 1;
    width: 150vw;
    height: 150vh;
    left: -25vw;
    bottom: -25vh;
  }
  to {
    opacity: 1;
    width: 100vw;
    height: 100vh;
    left: 0;
    bottom: 0;
  }
}
.index-loading__bg {
  left: 0;
  animation: loading__bg 0.5s cubic-bezier(0.02, 0.62, 0.56, 1.02) forwards;
  animation-delay: 0.4s;
  will-change: contents;
}

@keyframes loading__top-line {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*for flash bug fix*/
/* .index-loading__top-line {
  animation: loading__top-line 0.3s linear forwards;
  animation-delay: 0.3s;
} */
