body {
  opacity: 0;
  overflow: hidden;
  background-color: #444;
  transform: scaleX(1.5) scaleY(1.5);
  transition: opacity 0.3s, transform 0.3s;
}

body.reveal {
  transform: none;
  opacity: 1;
  overflow-y: auto;
}

body.hidden {
  transform: scaleX(1.5) scaleY(1.5);
  opacity: 0;
}
