body {
  overflow: hidden;
  background-color: #333;
  opacity: 0;
  transform: scaleX(1.5) scaleY(1.5);
  transition: all 0.5s 1ms;
}

body.reveal {
  transform: none;
  opacity: 1;
  overflow-y: auto;
}

body.hidden {
  transform: scaleX(1.5) scaleY(1.5);
  opacity: 0;
}
